<head>
	<title>Kalender 0.5</title>
</head>

<link href='css/cssKal05.css' rel='stylesheet' />

<script src="angular.js"></script>
<script src="angular-route.js"</script>
<script src="dateTime.js"></script>
<script src="myApp.js"></script>
<script src="employeeCtrl.js"></script>
 
 <!--<form ng-app="myApp2" ng-controller="Controller"  ng-submit="submit()"
name="myForm" novalidate>

<div ng-controller="validateCtrl">
<p>Employee number:<br>
<input type="text" name="empNumber" ng-model="empNumber" required>
<span style="color:red" ng-show="myForm.empNumber.$dirty && myForm.empNumber.$invalid">
<span ng-show="myForm.empNumber.$error.required">EmployeeNumber is required.</span>
</span>
</p>-->

<!--<p>Name:<br>
<input type="name" name="name" ng-model="name" required>
<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
<span ng-show="myForm.name.$error.required">Name is required.</span>-->
<!--<span ng-show="myForm.email.$error.email">Invalid email address.</span>-->
<!--</p>
</div>-->

<!--<input type="submit" value="Add" class="pointer" id="submit" 
ng-disabled="myForm.empNumber.$invalid || myForm.name.$dirty">--><!--&& myForm.name.$invalid || myForm.name.$dirty">-->
<!--ng-disabled="myForm.empNumber.$ng-untouched && myForm.empNumber.$invalid &&
myForm.name.$ng-untouched && myForm.name.$invalid"-->

<body>
<script>
function showEmployees() 
{
    var emp = document.getElementById('allEmps');
	emp.style.display = 'block';
	document.getElementById("btnEmployees").disabled = true;
	var buttonEmployees = document.getElementById("btnEmployees");
	buttonEmployees.style.cursor = "not-allowed";
	var tableEmps = document.getElementById('tableEmps');
	tableEmps.style.border = "1px solid";
	
    /*if (emp.style.display === 'block') {
        emp.style.display = 'none';
    } else {
        emp.style.display = 'block';
    }*/
}

</script>

<div ng-controller="employeeController" align="center" id="calendarBody">
<hr class="hr">
<h1 align="center">Kalender 0.5</h1>
</hr>

<ul class="nav">
<!--<a href="#/"><label>Mainpage</label></a>-->
<a href="#/employee"><label>Employee</label></a>
</ul>

<script type="text/ng-template" id="employee.html">
  This is the content of the template
</script>

<div ng-view></div>

</br>

<form ng-submit="" name="myForm">

  <!--EmployeeNumber:
   <input type="number" name="input" ng-model="item.number"
           min="1" required>-->
  <!--<label>Begin date:</label>
  <input type="date" id="beginDate" name="input" ng-model="beginDate" 
	   placeholder="YYYY-MM-DD HH:MM" min="2016-01-01" max="" required />
  <label>End date:</label>
  <input type="date" id="endDate" name="inputDate" ng-model="endDate"
	   placeholder="YYYY-MM-DD HH:MM" min="2016-01-01:00:00" max="" required/>-->
	   
	    <label>Begin date:</label>
	    <input type="date" id="beginDate" required />
		<label>End date:</label>
	    <input type="date" id="endDate" required />
	   
   <!--<label>DepartmentNumber:</label>
   <input type="number" name="input" ng-model="depID" id="departID" min="1" required>-->
   </br>
   </br>
   <div style="display:block" id="showAllEmps">
		<label>Select a employee:</label>
		<select id="empID" ng-model="selectID" ng-disabled="" ng-change="changedEmpValue(selectID)" required
		ng-options="user.id as user.name for user in users">
		<option value=""><label>-- Choose a employee --</label></option>
		<!--<option ng-repeat="selectID as selectID.id for selectID in users"><{{selectID}}</option>-->
		<!--<label>ID: {{u.id}}</label>-->
		</select>
		</div>
		</br>
			 
	<div align="center">
	<label>Select a department:</label>
		<select id="depID" ng-model="selectDepID" ng-disabled="" ng-change="changedDepValue(selectDepID)" required
		ng-options="d.id as d.display_name for d in departments">
		<option value=""><label>-- Choose a department --</label></option>
		</select>
		</div>
		</br>
	<label>EventTypeNumber:</label>
   <input type="number" name="input" ng-model="evTypeID" id="evTypeID" min="1" required>
	
		</br>
		</br>
	   <!--<label>Attended:</label>
		   <input type="checkbox" name="attend"	ng-model="checkboxModel" 
		   ng-true-value="'Yes'" ng-false-value="'No'" 
		   ng-checked="true-value" />-->
		
	    <input type="submit" id="submit" value="Add" ng-model="btn"class="buttonAdd"
		ng-click="addEvents()"/>
		
		<input type="button" id="btnEmployees" value="Show Employees" 
		ng-click="getUsers()" ng-model="users" class="buttonAdd" onclick="showEmployees()" />
		
		<input type="button" id="btnDepartment" value="Show Departments" 
		ng-click="showDepartments()" ng-model="departments" class="buttonAdd" />
		
		<input type="button" id="btnGetEvents" value="Show Events" 
		ng-click="showEvents()" ng-model="events" class="buttonAdd" />
		
		<!--<label>Attended: {{checkboxModel}}</label>-->
		
		<table border="0" align="center" style="margin-top:30px;" width="30%;" id="tableEmps">
		<tbody style="display:none" id="allEmps">
		<td>All employees</td>
		<td><label>Search: <input ng-model="searchTextEmp" /></label></td>
		<tr ng-repeat="u in users | filter:searchTextEmp">
		<td ng-click="getData(u.name, u.position, u.email,u.city)" class="pointer" ng-model="userData"
		id="user">{{u.id + "  " + u.position + ": " + u.name}}</td>
		</tr>
		</tbody>
		</table>
		<!--<label align="center">Employee: {{userData}}</label>-->
		
		<table align="center" style="margin-top:30px;" width="30%;" id="tableDepartment">
		<tbody style="display:none" id="allDepartments">		
		<td>All departments</td>
		<td><label>Search: <input ng-model="searchTextDepartment" autofocus id="searchDep"/></label></td>
		<td align="right"><input type="button" id="close" value="Close" ng-click="closeDepartments()" class="pointer" /></td>
		<tr ng-repeat="dep in departments | filter:searchTextDepartment">
		<td>{{dep.id + ": " + dep.display_name}}</td>
		</tr>
		</tbody>
		</table>
		
		<table align="center" style="margin-top:30px;" width="30%;" id="evTable">
		<tbody style="display:none" id="allEvents">
		<td>All events</td>
		<td><label>Search: <input ng-model="searchTextEvents" /></label></td>
		<tr ng-repeat="ev in events | filter:searchTextEvents">
		<td>{{ev.id + ": " + "Begindate: " + ev.begins_at + ", " + "Endate: " + ev.ends_at}}
		<span class="pointer" ng-click="deleteEvents(ev.id)">
		<input type="button" id="remove" value="Remove" ng-click="deleteEvents(ev.id)" class="pointer" class="myButton" /></span></td>
		</tr>
		</tbody>
		</table>
	  
  <!--<div role="alert">-->
    <!--<span class="error" ng-show="myForm.input.$error.required">
        Required!</span>-->
    <!--<span class="error" ng-show="myForm.input.$error.date">
        Not a valid date!</span>-->
  <!--</div>-->
 
<!--<table border="1" align="center" style="margin-top:30px;" width="20%;">
<td><label>Search: <input ng-model="searchText" /></label></td>
<tr>
<th ng-click="orderByMe('number')" class="pointer" id="idNumber">EmployeeNumber</th>
<th ng-click="orderByMe('name')" class="pointer" id="idName">Name</th>
<th ng-click="orderByMe('attended')" class="pointer" id="idAttended">Attended</th>
</tr>
<tr ng-repeat="u in employees | orderBy:myOrderBy | filter:searchText">
<td>{{u.number}}</td>
<td>{{u.name}}</td>
<td>{{u.attended}}</td>
<td><span class="pointer" ng-click="removeItem($index)"><button class="myButton" 
style="margin:50px;">Remove</button></span></td>
</tr>
</table>-->
  
   <!--<ol>
  <li ng-repeat="x in employees">{{x}}<span class="pointer" ng-click="removeItem($index)">    X</span></li>
  </ol>-->
  <!--<pre>Employees: {{employees}}</pre>
  <pre>Employees: {{employees}}</pre>-->
  <!--<pre>All employees: {{users}}</pre>-->

</form>
</div>
</body>